<h1> <%=@cat.name %> Cat </h1>
<!-- <ul>
    <li>Name:<%#= @cat.name %></li>
    <li>Color:<%#= @cat.color %></li>
    <li>Sex:<%#= @cat.sex %></li>
    <li>Description:<%#= @cat.description %></li>
    <li>Age:<%#= @cat.age %></li>
</ul> -->
<table>
  <tr>
    <th>Name</th>
    <td><%= @cat.name %></td>
  </tr>
  <tr>
    <th>Color</th>
    <td><%= @cat.color %></td>
  </tr>

  <tr>
    <th>Sex</th>
    <td><%= @cat.sex %></td>
  </tr>

  <tr>
    <th>Age</th>
    <td><%= @cat.age %></td>
  </tr>

  <tr>
    <th>Description</th>
    <td><%= @cat.description %></td>
  </tr>


</table>
